*/bin/Debug
*/obj/Debug
*/bin/Release
*/obj/Release
/bin/Debug
/bin/Release
/obj/*
.vs/*
*.pdb
*.dll
*.ilk
*.exp
*.lib
/libCanopenSimple.VC.db
/canfestivaldrivers/can_canusb_win32/Debug/*.log
/canfestivaldrivers/can_canusb_win32/Debug/*.obj
/canfestivaldrivers/can_canusb_win32/Debug/can_canusb_win32.tlog/*.tlog
/canfestivaldrivers/can_canusb_win32/Debug/can_canusb_win32.tlog/*.lastbuildstate
/canfestivaldrivers/can_canusb_win32/Debug/*.idb
/canfestivaldrivers/can_canusb_win32/Release/*.log
/canfestivaldrivers/can_canusb_win32/Release/*.obj
/canfestivaldrivers/can_canusb_win32/Release/can_canusb_win32.tlog/*.tlog
/canfestivaldrivers/can_canusb_win32/Release/can_canusb_win32.tlog/*.lastbuildstate
/canfestivaldrivers/can_canusbd2xx_win32/Debug/can_canu.16C74D91.tlog/*.tlog
/canfestivaldrivers/can_canusbd2xx_win32/Release/can_canu.16C74D91.tlog/*.tlog
/canfestivaldrivers/can_canusbd2xx_win32/Release/*.log
/canfestivaldrivers/can_canusbd2xx_win32/Release/*.obj
/canfestivaldrivers/can_canusbd2xx_win32/Debug/*.log
/canfestivaldrivers/can_canusbd2xx_win32/Debug/can_canu.16C74D91.tlog/*.lastbuildstate
/canfestivaldrivers/can_canusbd2xx_win32/Debug/*.obj
/canfestivaldrivers/can_canusb_win32/*.user
/canfestivaldrivers/can_canusbd2xx_win32/Debug
/canfestivaldrivers/can_null_win32/Debug/can_null_win32.tlog/*.tlog
/canfestivaldrivers/can_null_win32/Debug/can_null_win32.tlog/*.lastbuildstate
/canfestivaldrivers/can_null_win32/Debug/*.log
/canfestivaldrivers/can_null_win32/Debug/*.obj
/canfestivaldrivers/can_null_win32/Debug/*.idb
/canfestivaldrivers/can_null_win32/Release/*.log
/canfestivaldrivers/can_null_win32/Release/*.obj
/canfestivaldrivers/can_null_win32/Release/can_null_win32.tlog/*.tlog
/canfestivaldrivers/can_null_win32/Release/can_null_win32.tlog/*.lastbuildstate
/canfestivaldrivers/can_null_win32/*.user
